:root {
    --black: rgb(0, 0, 0);
    --teal: rgb(30, 175, 103);
    --grey-blue: rgb(125, 157, 194);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--black);
}

/* Header Styling */

header {
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 55px;
    margin: 40px;
    color: var(--black);
}

header a {
    color: var(--grey-blue);
    text-decoration: none;
}

header nav {
    margin: 40px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 25px;
    font-size: 1.55vw;
}

/* Hero Styling */

.hero {
    background-image: url("../images/hero-img.jpg");
    display:flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 0;
}

.hero-cap {
    width: 30%;
    text-align: center;
    margin: 4%;
    margin-bottom: 2%;
    color: var(--black);
}

.section-title {
    width: 35%;
    border-right: 8px solid;
    border-color: var(--grey-blue);
    padding: 20px;
    background-color: var(--black);
    text-align: right;
}

.section-title h2 {
    font-size: 45px;
    color: var(--grey-blue);
}

.about {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.about-bio {
    width: 60%;
    margin: 15px auto;
    border: 8px solid;
    border-color: var(--grey-blue);
    background-color: var(--black);
}

.about div p {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 20px;
    font-size: 22px;
    color: var(--grey-blue);
}

.works {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.work-tile-1 {
    width: 60%;
    margin: 15px auto;
    background-image: url("../images/run-buddy-tile-photo.jpg");
    padding-top: 200px;
    background-size: cover;
    border: 8px solid;
    border-color: var(--grey-blue);

}

.work-tile-1 h3 {
    text-align: left;
    width: 12%;
    padding: 10px;
    background-color: var(--grey-blue);
    font-size: 26px;
    color: var(--black);
}
